<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">FoodList</h5>
          <p>
            <strong>ID</strong>: {{foodList.id}}</p>
          <p>
            <strong>Item</strong>: {{foodList.itemName}}</p>
          <p>
            <strong>Price:</strong> {{foodList.costPer}}</p>
          <p>
            <strong>Category:</strong> {{foodList.category}}</p>
          <p>
            <strong>Vegan:</strong> {{foodList.vegan}}</p>
          <p>
            <strong>Gluten Free:</strong> {{foodList.glutenFree}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
