<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">FoodList</h5>
          <p><strong>ID:</strong> {{FoodLists.id}}</p>
          <p><strong>Item:</strong> {{FoodLists.itemName}}</p>
          <p><strong>Price:</strong> {{FoodLists.costPer}}</p>
          <p><strong>Category:</strong> {{FoodLists.category}}</p>
          <p><strong>Vegan:</strong> {{FoodLists.vegan}}</p>
          <p><strong>Gluten Free:</strong> {{FoodLists.glutenFree}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
